/*rest básico da tela*/
*{
    margin:0;
    padding:0;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 100px;
}

/*Aplicando estilos no cabeçalho */
.cabecalho-blog{
    background-color:beige;
    padding: 10px 0;/*espaçamento entre os elementos*/
    border-bottom: 2px solid #ddd;
}

.cabecalho-blog nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-blog h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color:darkslategrey;
}

.cabecalho-blog a{
    text-decoration: none;/*tira a formatação de link do html*/
    color: inherit; /*tira a cor vermelha de quando clicamos no link*/
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho-blog ul {
    list-style: none;/*tira a "bolinha" de tópico*/
    display: flex;/*transforma a lista num container flexivel*/
    gap: 20px;/*adiciona um espaço entre cada item da lista*/
}

/*Estilos de layout principal e coteúdo*/
.conteudo-principal-blog {
    padding: 20px 0;/*ajusta o espaçamento entre o cabeçalho
    e conteúdo*/
}

.layout-blog {
    display: flex;/*vai permitir que a gente consiga colocar
    uma barra lateral*/
    gap: 50px;
}

.post{
    flex: 3;
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(46, 34, 124);
    font-family: Arial, Helvetica, sans-serif;
}

.post h2{
    font-family: Arial, Helvetica, sans-serif;
}
.post p{
    color:darkslategrey;
    font-size: small;
}

.barra-lateral{
    flex:1;
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(46, 34, 124);
}

.barra-lateral a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:darkslategrey;
}
.barra-lateral ul{
    list-style: none;
}

.barra-lateral h3{
    font-family: Arial, Helvetica, sans-serif;
}

.rodape-blog{
    background-color:beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(46, 34, 124);
    color: darkslategrey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*.cabecalho-blog ul{
    width: 25%;
    margin-left: auto;
}*/



